.post {
  width: 250px;
  padding: 1rem;
  background-color: #ddd;
  border-radius: 0.5rem;
  height: 350px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.post:hover {
  transform: scale(105%);
}

.title {
  font-weight: 400;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.body {
  padding-top: 0.5rem;
}

.img {
  width: 100%;
  max-height: 200px;
}
